In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
attacks_ori = pd.read_csv('../data/attacks.csv', encoding = 'latin1')
pd.set_option('display.max_columns', None)
attacks = attacks_ori.copy()

In [3]:
attacks_ori.shape

(25723, 24)

In [4]:
attacks.columns = attacks.columns.str.strip().str.lower().str.replace(' ','_').str.replace('.','_').str.replace(':','')

In [5]:
nan_cols = attacks.isna().mean() * 100

round(nan_cols[nan_cols > 0], 2)

case_number                66.17
date                       75.50
year                       75.51
type                       75.52
country                    75.69
area                       77.27
location                   77.60
activity                   77.62
name                       76.32
sex                        77.70
age                        86.51
injury                     75.61
fatal_(y/n)                77.60
time                       88.54
species                    86.53
investigator_or_source     75.57
pdf                        75.50
href_formula               75.50
href                       75.50
case_number_1              75.50
case_number_2              75.50
original_order             75.47
unnamed_22                100.00
unnamed_23                 99.99
dtype: float64

In [6]:
attacks = attacks.dropna(thresh = 2) #de esta manera nos quedamos con las filas que al menos tienen 2 columnas con datos.
attacks.shape

(6309, 24)

In [7]:
nan_cols = attacks.isna().mean() * 100

round(nan_cols[nan_cols > 0], 2)

case_number                0.02
date                       0.11
year                       0.14
type                       0.17
country                    0.90
area                       7.32
location                   8.67
activity                   8.73
name                       3.44
sex                        9.07
age                       44.98
injury                     0.55
fatal_(y/n)                8.65
time                      53.27
species                   45.09
investigator_or_source     0.38
pdf                        0.11
href_formula               0.13
href                       0.11
case_number_1              0.11
case_number_2              0.11
unnamed_22                99.98
unnamed_23                99.97
dtype: float64

In [8]:
attacks.fillna({'type':'unknown', 'name':'unknown', 'sex':'unknown','species':'unknown', 'injury':'not registered', 'fatal_(y/n)':'N/A',
                'investigator_or_source':'unknown', 'pdf':'not applies','href_formula': 'not applies',
                'href': 'not applies', 'unnamed_22': 0, 'unnamed_23': 0}, inplace = True)

In [9]:
nan_cols = attacks.isna().mean() * 100

round(nan_cols[nan_cols > 0], 2)

case_number       0.02
date              0.11
year              0.14
country           0.90
area              7.32
location          8.67
activity          8.73
age              44.98
time             53.27
case_number_1     0.11
case_number_2     0.11
dtype: float64

In [45]:
attacks.age = round(pd.to_numeric(attacks.age, errors='coerce'),0)

In [49]:
attacks.age.fillna(attacks.age.mean(), inplace = True)

In [50]:
nan_cols = attacks.isna().mean() * 100

round(nan_cols[nan_cols > 0], 2)

case_number       0.02
date              0.11
year              0.14
country           0.90
area              7.32
location          8.67
activity          8.73
time             53.27
case_number_1     0.11
case_number_2     0.11
dtype: float64